{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block title %}
<title>Raccoons | Inicia sesión</title>
{% endblock title %}

{% block content %}
<form class="form-signin" method="POST">
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {% endfor %}

  {% if next %}
  {% if user.is_authenticated %}
  <div class="alert alert-danger" role="alert">
    Tu cuenta no tiene acceso a esta página. Para proceder,
    inicia sesión con una cuenta que tenga acceso.
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Para acceder a esta página, primero inicia sesión.
  </div>
  {% endif %}
  {% endif %}
  {% csrf_token %}
  <a href="{% url 'core:index' %}">
    <img class="mb-4" src="{% static 'img/raccoon.png' %}" alt="Raccoons Logo" height="80">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Ingresa a Raccoons</h1>
  <label for="inputEmail" class="sr-only">Correo electrónico</label>
  <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required
    autofocus>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
  <input type="hidden" name="next" value="{{ next }}">
  <button class="mt-4 btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
{% endblock content %}