{% extends 'base.html' %}

{% block bulma %}{% endblock bulma %}

{% block title %}
<title>Raccoons | Aviso de Privacidad</title>
{% endblock title %}

{% block content %}
<section>
  <h1>AVISO DE PRIVACIDAD</h1>
  <p>
    <strong>Raccoons Hacker Club</strong>, con domicilio en Felipe Carrillo Puerto #362, Colonia San Juanico,
    Delegación Miguel Hidalgo, CDMX, es responsable del tratamiento de los datos personales que nos proporcione.
  </p>
  <p>Su información personal será utilizada para:</p>
  <ul>
    <li>Proveer servicios requeridos.</li>
    <li>Informar sobre nuevos servicios que estén relacionados con el que se haya suscrito el usuario.</li>
    <li>Dar cumplimiento a obligaciones contraídas con nuestros usuarios.</li>
    <li>Informar sobre cambios de nuestros productos o servicios.</li>
    <li>Registrar su inscripción a la modalidad de curso que haya elegido.</li>
    <li>Generar listas de asistencias y validación de las mismas.</li>
    <li>Emisión de diplomas, constancia de participación o asistencia de acuerdo con la modalidad de que se trate.
    </li>
    <li>
      Establecer comunicación para dar seguimiento de los cursos o aclaración de dudas sobre sus datos,
      notificación de cancelación o cambio de horario, fecha o sede.
    </li>
    <li>Envío de material de exposición o apoyo.</li>
    <li>Invitaciones a futuros eventos.</li>
    <li>Envío de información a través de diferentes medios: página web, blog.</li>
    <li>Evaluar la calidad del servicio que le brindamos.</li>
    <li>Realizar estudios internos sobre hábitos de consumo.</li>
  </ul>
  <p>
    Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales:
    nombre y apellido, correo electrónico, considerado como sensible según la Ley Federal de Protección
    de Datos Personales en Posesión de los Particulares, teléfono principal de contacto, fecha de nacimiento
    y domicilio particular.
  </p>
  <p>
    Nosotros no realizamos transferencias de sus datos personales a terceros,salvo aquellas que sean necesarias
    para atender requerimientos de información de una autoridad competente, debidamente fundados y motivados.
  </p>
  <p>
    En todo momento usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos
    personales,
    a fin de que dejemos de hacer uso de los mismos. Para ello, es necesario que presente su petición vía correo
    electrónico
    a: raccoonshackerclub@gmail.com. Su petición deberá de ir acompañada de la siguiente información: nombre completo
    y correo electrónico.
  </p>
  <p>
    Tendremos un plazo máximo de 20 días hábiles para atender su petición y le informaremos sobre la procedencia de la
    misma a través de un correo electrónico
  </p>
  <p>
    Cualquier modificación a este aviso de privacidad podrá consultarla en nuestro sitio web
  </p>

</section>
{% endblock content %}